@font-face
{
	font-family:'Roboto';
	src: url(../font/Roboto-Regular.ttf);
}
html
{
	font-size: 40%;
}
*
{
	box-sizing: border-box;
}
body
{
	font-size: 1.5em;
	width: 100%;
	
	font-family: Roboto;
}
h1
{
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	margin: 0;
	padding: 6%;
}

.container
{
	width: 100%;
	background-color: white;
}
img, video
{
	max-width: 100%;
}
section:first-child
{
	margin-left: 6%;
	margin-bottom: 4%;
}
section:first-child h3
{
	margin: 0;
}
section:first-child  article
{
	padding: 3%;
	background-color: #bab8b8;
}
#pict
{
	float: left; 
	margin-top: -7%;
	margin-left: -7%;
	width: 30%; 
	height: 50%;  
	margin-right: 3%;
}
.justify
{
	text-align: justify;
	margin-right: 3%;
	margin-top: 0;
}
.detail
{
	margin: 0;
	text-align: left;
}


.iframe-container {
  overflow: hidden;
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 95%;
   margin-left: 2.5%;
}

/* 4x3 Aspect Ratio */
.iframe-container-4x3 {
  padding-top: 75%;
}
.clear
{
	clear: both;

}


.fab
{
	font-size: 3em;
	border-radius: 50%;
	background-color: silver;
	color: white;
	padding: 2.5%;
}
.icons
{
	margin: 6% auto;
	text-align: center;
}
.icons a
{
	margin: 0 auto;
	padding: 1%;
}
.icons img
{
	text-align: center;
	width: 12.5%;
	color: silver;
	
}
.icons a:first-child img
{
	width: 13%;
	margin: 0;
}


.calendar {
	font-family: Arial, sans-serif;
	margin-bottom: 30px;
}

.info-ciné {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}



.zip {
	display: inline-block;
	width: 9%;
	vertical-align: top;
	font-size: 0.8em;
}

.zip p{
    vertical-align: top;
    margin: 0;
}
.bas
{
	margin: 0 2%;
} 
.address-cine {
	display: inline-block;
	width: 75%;
	padding: 0 2%;
	border-left: 6px solid #A1A5A7;
}

.address-cine  p {
	margin: 0;
}

.address-cine span {
	font-size: 12px;
}

.hour-info {
	background-color: #e8e8e8;
	padding: 1%;
}

.hour-info p {
	margin-left: 6%;
	font-weight: bold;
}

.days li.blue {
	
	background-color: #0080B1;
}

.days li.blue span {
	color: white !important;
}

.days {
	display: inline-block;
	width: 100%;
	padding: 0;
	margin: 0;
  border-bottom: 2px solid black;
	 
}

.days li {
	display: inline-block;
	width: 13.5%;
	list-style: none;
	text-align: center;
	padding: 1%;
}



.days li span{
	display: block;
	color: #A1A5A7;
}

.hours {
	display: flex;
	justify-content: space-start;
}

.hours li {
	list-style: none;
	margin-right: 2%;
	color: #A1A5A7;
	padding: 1%;
	border: 1px solid #A1A5A7;
  border-radius: 12%;
      font-size: 0.9em;
}
.hours li span {
	display: block;
}

li.soldout {
	text-decoration: line-through;
}

li.sold {
	color: #0080B1;
}

@media screen and (min-width: 750px)
{
	h1 {font-size: 3em;}
	h3 {text-align: left;}
	body{font-size: 2.5em; margin: auto; width: 70%;}
	.container{width: 85%; margin: 0 auto; }

}

@media screen and (min-width: 1024px)
{
	body{font-size: 3em;}
}